{% extends "base.html" %}
{% block content %}
{% load staticfiles%}
<div class="header pt-auto">
  <div class="container">
    <div class="text-center">
      <h5 class="card-header">Вход</h5>
      <p class="card-text">
        {% if form.errors %}
      <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
      {% endif %}
      {% if next %}
      {% if user.is_authenticated %}
      <p>У вашей учетной записи нет доступа к этой странице.
        Войдите в систему с учетной записью, имеющей доступ.</p>
        {% else %}
        <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
        {% endif %}
        {% endif %}
        </p>
      <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <h3>Логин</h3>
          <h3>{{ form.username }}</h3>
          <h3>{{ form.password.label_tag }}</h3>
          <h3>{{ form.password }}</h3>
        <div>
          <input class="btn btn-primary" type="submit" value="Войти"/>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>
</div>
  </div>
</div>
{% endblock %}
